.footer {
    width: 100%;
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
}
.iconsContainer {
    margin-left: auto;
}
.footerContainer {
    color: white;
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    padding: 0.8rem 5vw 1rem 5vw;
    width: 1700px;
}
.iconsContainer {
    display: flex;
    align-items: center;
    padding: 0 0 0 1rem;
}
.iconsContainer * {
    margin-right: 2vw;
    display: flex;
    justify-content: center;
}