.contactPage {
    padding: 100px 0 0 0;
    min-height: calc(100vh - 100px);
}
h2 {
    padding: 0 0.5rem 1.5rem 0;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
    font-size: 2.2rem;
}

.formContainer {
    display: flex;
    justify-content: center;
    text-align: center;
}
form {
    width: 35%;
    background: linear-gradient(93.65deg, #321C64 -83.9%, #1D1133 32.3%, #09204D 150.94%);
    padding: 4vh 4vw 4vh 4vw;
    border-radius: 2vw;
    color: white;
}
  
/* Form input and textarea styles */
form input[type="text"],
form input[type="email"],
form textarea {
    width: calc(100% - 20px);
    padding:  10px;
    margin:  1rem 0;
    border:  none;
    box-shadow: 0 0 0 1px transparent;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

/* Style for the border when input is focused */
form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus {
    box-shadow: 0 0 0 2px aqua;
    outline: none; /* Remove the default blue outline */
}

form div {
    text-align: left;
}
  
/* Submit button styles */
.submitBtnContainer {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: 10px;
}
form button[type="submit"] {
    background-color: #1E1E1E;
    color: aqua;
    padding: 12px 22px;
    border: 2px solid aqua;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
}
  
form button[type="submit"]:hover {
    background-color: aqua;
    color: black;
}
  
  /* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    form {
        width: 60%;
        padding: 2rem;
        border-radius: 2rem;
    }
}
@media screen and (max-width: 450px) {
    form {
        width: 80%;
    }
}

@media (prefers-color-scheme: dark) {
    .contactPage {
        background-color: var(--dark-background-color);
        color: var(--dark-text-color);
    }
    form input[type="text"],
    form input[type="email"],
    form textarea {
        box-shadow: 0 0 0 1px var(--dark-text-color);
        border-radius: 10px;
        color: var(--dark-text-color);
        background-color: #1E1E1E;
    }
}
  